* {
    margin: 0;
    padding-left: 0px;
    box-sizing: border-box;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

#Produtos, #sobrealoja, #contato, .container, input, textarea, button {
    font-family: 'Teko', sans-serif;
}

#Produtos, #sobrealoja, #contato {
    color: rgb(121, 109, 6);
    padding: 10px;
}

#sobrealoja {
    border-style: ridge;
    border-color: rgba(255, 255, 255, 0.568);
}

#Produtos {
    border-style: ridge;
    border-color: rgba(255, 255, 255, 0.568);
}

#contato {
    border-style: ridge;
    border-color: rgba(255, 255, 255, 0.568);
}

.historia img{
    max-width: 200px;
    max-height: 200px;
    margin-right: 10px;
}

.historia {
    display: flex;
    align-items: center;
}

.logoloja {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    padding: 5px 5px;
    background-color: rgba(0, 0, 0, 0.89);
    color:rgb(255, 255, 255);
    border: 50px;

}

header img {
    padding: 0;
    max-width: 50px;
    max-height: 50px;
}

header nav li {
    display: inline;
    margin-left: 16px;
}

header nav li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-left: 5px;
}

#Produtos img {
    max-width: 200px;
    max-height: 200px;
    margin: 10px 10px;
    border-radius: 10px;
    border-style: outset;
    border-color:rgb(240, 240, 240)
}

.cordoes, .pulseiras, .brincos {
    display: flex;
} 

#Produtos {
    background-color: rgb(255, 255, 243);
}

#Produtos a {
    text-decoration: none;
}

form input,
form textarea,
form button {
    display: block;
    width: 300px;
    margin-bottom: 8px;
    padding: 8px;
    margin-right: 100px;
}

form textarea {
    resize: none;
}

.alinhamento {
    display: flex;
}

.acompanhe {
    display: block;
}

.acompanhe img {
    height: 20px;
}

.acompanhe li {
    display: inline;
}

footer {
    background-color: rgb(43, 38, 0);
    color: aliceblue;
    text-align: end;
}